.posts-section h1 {
	font-family: "lobster", serif;
	font-size: 4.8rem;
	font-weight: 500;
	line-height: 5.5rem;
	text-align: center;
	margin-top: 10rem;
	padding-top: 2rem;
}

.posts-section {
	margin-bottom: 6rem;
	color: #444;
}

.posts-container {
	width: 1440px;
	margin: 2rem auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
