.header-container {
	color: white;
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-container h1,
.header-container h2 {
	font-family: "lobster", serif;
	font-size: 5.3rem;
	font-weight: 500;
	line-height: 5.5rem;
}

.header-container h2 {
	font-size: 5rem;
}

.header-container .cta {
	background: #ff9d57;
	color: white;
	margin-top: 2rem;
	padding: 1rem 2.5rem;
	border-radius: 5px;
	font-size: 1.2rem;
}

.header-container img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100vh;
	width: 100%;
	object-fit: cover;
}

.header-container a {
	font-family: "josefin sans", sans-serif;
}

.scroll-indicator a {
	position: absolute;
	bottom: 5rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.scroll-indicator .mouse {
	width: 2rem;
	height: 4rem;
	border: 2px solid white;
	border-radius: 2rem;
	margin-bottom: 0.5rem;
	display: flex;
}

.mouse span {
	width: 1rem;
	height: 1rem;
	background-color: #fff;
	display: block;
	border-radius: 50%;
	margin: auto;
	animation: move-wheel 1s linear infinite;
}

.arrow span {
	display: block;
	width: 0.8rem;
	height: 0.8rem;
	border: 2px solid transparent;
	border-right-color: white;
	border-bottom-color: white;
	transform: rotate(45deg);
	animation: move-arrow 0.5s alternate infinite;
}

@keyframes move-wheel {
	0% {
		opacity: 0;
		transform: translateY(-1rem);
	}
	100% {
		opacity: 1;
		transform: translateY(1rem);
	}
}

@keyframes move-arrow {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.25;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}
