header {
	position: sticky;
	top: 0;
	color: white;
	z-index: 100;
}

nav a,
.search {
	color: #ffffff;
}

nav a:hover,
.search:hover {
	opacity: 0.8;
}

nav,
.social-links ul,
.nav-links ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	transition: all 0.5s ease-in-out;
}

nav {
	max-width: 1440px;
	padding: 0 1.5rem;
	margin: 0 auto;
	min-height: 10vh;
	align-items: center;
	transition: all 0.5s ease-in-out;
}

.social-links,
.nav-links {
	flex: 3;
	transition: all 0.5s ease-in-out;
}

.nav-links {
	flex: 6;
}

.social-links li,
.nav-links li,
.search {
	margin: 0 1rem;
}

.pop .nav-links a,
.pop .social-links a,
.pop .search,
.pop {
	color: #444;
	transition: all 0.5s ease-in-out;
}

.bg-white {
	background-color: white;
	box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.07);
}

.social-links li:first-child {
	margin-left: 0;
}

.search {
	margin-right: 0;
	cursor: pointer;
}

nav ul {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-family: "josefin sans", sans-serif;
}

nav .social-links ul,
.search {
	font-size: 1.4rem;
}
